# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
*.tfvars.json
*.tfvars.*

# Local CLI configuration files
.terraformrc
terraform.rc
